#userRules{
    padding: 40px 0;
    h1{
        text-align: center;
    }
    h5{
        text-align: center;
    }
}
#serviceRules{
    padding: 40px 0;
    .badge, .badge1, .badge2{
        width: 100%;
        height: 25px;
        border-radius: 5px;
        // position: absolute;
        // top: 5px;
        // right: 20px;
        text-align: center;
        p{
          color: white;
          font-family: $fontmain;
          font-size: 10px;
          
        }
      }
      .badge{
        background-color: $colorblue;
        p{
          line-height: 18px;
        }
      }
      .badge1{
        background-color: $colororange;
        p{
          line-height: 24px;
        }
      }
      .badge2{
        background-color: $colororange;
        left: 20px;
        p{
          line-height: 24px;
        }
      }
      .content{
          padding: 20px 10px;
      }
}